modules = ["java-graalvm22.3", "nodejs-20", "postgresql-16"]
[nix]
packages = ["maven"]
channel = "stable-25_05"

[agent]
expertMode = true

[[ports]]
localPort = 5173
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80
