modules = ["nodejs-20"]
[nix]
packages = ["maven"]
channel = "stable-25_05"

[agent]
expertMode = true

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80


