modules = ["nodejs-20"]
[nix]
packages = ["maven"]
channel = "stable-25_05"

[agent]
expertMode = true

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80

[userenv]

[userenv.shared]
DB_URL = "jdbc:postgresql://neondb_owner:npg_Kni7bA5LtuYX@ep-rapid-boat-ap5okkkg-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
